#downloadBtn:hover{
    background-color: #e8e3e3;
}

.folderIcon{
    font-size: 26px;
    color: green;
}
.folderIcon:hover{
    font-size: 30px;
    color: brown;
}

#updateBtn:hover{
    background: chocolate;
    cursor:pointer;
}

#closeIcon:hover{
    background-color: chocolate;
    cursor:pointer;
}

#accordion a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-weight: bold;
}

#accordion a:hover{
    text-decoration: underline;
}

.card{
    margin-bottom: 4px;
}